version: '3.8'

services:
  unir_app:
    container_name: unir_app_flask
    build: .
    # Eliminamos ports para que solo sea accesible vía Proxy
    volumes:
      - unir_db_data:/app/instance
      # Montaje de archivos sensibles desde una carpeta fija en el servidor
      - /home/unir-app/config/credentials.json:/app/credentials.json
      - /home/unir-app/config/token.json:/app/token.json
    environment:
      - FLASK_ENV=production
      - SECRET_KEY=${SECRET_KEY} # Definiremos esto en Portainer
    networks:
      - nginx-network
    restart: unless-stopped

volumes:
  unir_db_data:
    # Usar volúmenes nombrados es más limpio en Portainer

networks:
  nginx-network:
    external: true
